@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #343045;
  --primaryDark: #221f30;
  --primaryDark2: #1b1927;
  --primaryFormBg: #16151f;
  --secondary: #c0b7e8;
}

body {
  color: #fff;
  background-image: linear-gradient(to right bottom, #1a1923, #302c42);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.innerContainer {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.primaryFormBg {
  background-color: var(--primaryFormBg);
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

.ant-collapse{
  border-radius: 14px;
  border-color: var(--primary);
  overflow: hidden;
}

.ant-collapse-header{
  color: #fff !important;
  background-color: #343045;
  border-radius: 0px !important;
}

.ant-collapse-content{
  border-radius: 0px 0px 14px 14px !important;
  overflow: hidden;
  background-color: var(--primaryFormBg) !important;
  border-top: none !important;
}


.ant-collapse-content-box{
  padding: 0px !important;
}
