@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #343045;
  --primaryDark: #221f30;
  --primaryDark2: #1b1927;
  --primaryFormBg: #16151f;
  --secondary: #c0b7e8;
  --light-color: #1c96c5;
}
/*dummy push */

body {
  color: #fff;
  background-image: linear-gradient(to right bottom, #1a1923, #302c42);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.innerContainer {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.formContainer {
  background-color: var(--primaryFormBg);
  padding: 40px;
}

.primaryFormBg {
  background-color: var(--primaryFormBg);
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

/* COLLAPSE */
.ant-collapse {
  border-radius: 14px;
  border-color: #c0b7e84d;
  overflow: hidden;
}

.ant-collapse-header {
  color: #fff !important;
  background-color: #343045;
  border-radius: 0px !important;
  align-items: center !important;
  display: flex !important;
  transition: filter 0.2s;
}

.ant-collapse-header:hover {
  filter: brightness(120%);
}

.ant-collapse-content {
  border-radius: 0px 0px 14px 14px !important;
  overflow: hidden;
  background-color: var(--primaryFormBg) !important;
  border-top: none !important;
}

.ant-collapse-content-box {
  padding: 0px !important;
}

.ant-collapse-header-text {
  font-size: 20px;
  font-weight: 500;
}

/* COLOR PICKER */
.ant-color-picker-trigger {
  max-width: 161px;
  width: 100%;
  padding: 6px 10px;
  background-color: #322f40;
  border: 1px solid #374151;
}

.ant-color-picker-trigger:hover {
  border-color: var(--secondary);
}

.ant-color-picker-trigger-active {
  border-color: var(--secondary) !important;
  box-shadow: 0px 0px 4px 2px #c0b7e81d !important;
}

.ant-color-picker-color-block {
  width: 36px !important;
  height: 36px !important;
  border: 1px solid #374151;
}

.ant-color-picker-trigger-text {
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: #fff !important;
}

.custom-checkbox {
  transition: all 0.2s;
}

.custom-checkbox-container:has(.custom-checkbox-label:hover) .custom-checkbox {
  border-color: var(--secondary);
}

.custom-checkbox-checked {
  background-color: #12a648;
  border-color: #12a648;
}

.custom-checkbox-checked:hover {
  border-color: #12a648 !important;
}

.ant-avatar-string {
  text-wrap: auto;
  font-weight: 500;
}

.ant-picker{
  background-color:#2D2C36;
  border-color: #384051;
  color: #fff;

  &:hover{
    background-color: #2D2C36;
  border-color: var(--secondary);
  }

  input{

    &::placeholder{
      color: #fff !important;
    }

  }
}

.ant-picker-input-placeholder{

  & > input{
    color: #fff !important;
  }
}

.ant-picker-suffix{
  color: #fff !important;
}
.ant-picker-clear{
  color:#fff !important
}
.ant-picker-focused{
  background-color:#2D2C36 !important;
  box-shadow: 0px 0px 4px 2px #c0b7e81d !important;
  border-color: var(--secondary) !important;
}


.ant-picker-large{
  padding: 12px 16px;
}

.ant-picker-cell-today{
  .ant-picker-cell-inner::before{
  border-color: #9886e7 !important;
  }
}

.ant-picker-cell-selected{
  .ant-picker-cell-inner{
    background-color: #9886e7 !important;
  }
}
